@{
    ViewData["Title"] = "Home Page";
}
<partial name="_Notifications" />
<div class="text-center">
    <h1 class="display-4">Welcome To Accops Systems</h1>
    <p>Learn about <a href="https://www.accops.com">Accops Systems official website</a>.</p>
</div>
