@model Department

<partial name="_Notifications" />

<form method="post">
    <div class="border p-3 mt-4 " style="width:50%;margin:auto">
        <div class="row pb-2">
            <h2 class="text-primary">Add Department</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="DepartName"></label>
            <input asp-for="DepartName" class="form-control"/>
            <span asp-validation-for="DepartName" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Employee" asp-action="AdminPage" class="btn btn-secondary" style="width:150px">Back to List</a>
    </div>
</form>

